{{=<% %>=}}
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900" rel="stylesheet" />
<style type="text/css">
  @charset 'UTF-8';

  @font-face
  {
    font-family: 'FontAwesome2';
    src: url('assets/css/fonts/fontawesome-webfont.eot?v=3.0.1');
    src: url('assets/css/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
         url('assets/css/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
         url('assets/css/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype'),
         url('assets/css/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face
  {
    font-family: 'Font-Awesome-Social2';
    src: url('assets/css/fonts/fontawesome-social-webfont.eot');
    src: url('assets/css/fonts/fontawesome-social-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/css/fonts/fontawesome-social-webfont.woff') format('woff'),
       url('assets/css/fonts/fontawesome-social-webfont.ttf') format('truetype'),
       url('assets/css/fonts/fontawesome-social-webfont.svg#Font-Awesome-More') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
  }

  body
  {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #919499;
    font-size: 13pt;
    line-height: 1.75em;
    letter-spacing: 0.025em;
  }

</style>

<!-- Header Wrapper -->
  <div id="header-wrapper" class="wrapper">
    <div class="container">
      <div class="row">
        <div class="12u">
        
          <!-- Header -->
            <div id="header">
              
              <!-- Logo -->
                <div id="logo">
                  <h1 data-brand>{{company_logo}}</h1>
                  <span class="byline" data-editable='slogan'>{{slogan}}</span>
                </div>
              <!-- /Logo -->
              
              <!-- Nav -->
                <nav id="nav" data-menu>
                  <ul>
                    <li><a id="wrapper-style1" data-content="menu_home" href="/home">{{menu_home}}</a></li>
                    <li><a id="wrapper-style2" data-content="menu_about" href="/sobre">{{menu_about}}</a></li>
                    <li><a id="wrapper-style3" data-content="menu_gallery" href="/galeria">{{menu_gallery}}</a></li>
                    <li><a id="wrapper-contact" data-content="menu_contact" href="/contato">{{menu_contact}}</a></li>
                  </ul>
                </nav>
              <!-- /Nav -->

            </div>
          <!-- /Header -->

        </div>
      </div>
    </div>
  </div>
<!-- /Header Wrapper -->
