{{=<% %>=}}
<div id="map-canvas">
<iframe class="hide-for-small" width="100%" height="460" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;q={{ maps_address }}&amp;hl=ptBR&amp;ie=UTF8&amp;output=embed&amp;iwloc=near"></iframe>
</div>

  <div id="footer-wrapper" class="wrapper wrapper-contact">
    <div class="title">{{menu_contact}}</div>
    <div class="container">
      <div class="row">
        <div class="12u">

          <!-- Footer -->
            <div id="footer">
              <header class="style1">
                <h2 data-editable="main_contact">{{main_contact}}</h2>
                <p class="byline" data-editable="subtitle_contact">{{subtitle_contact}}</p>
              </header>
              <hr />
              <div>
                <div class="row">
                  <div class="12u">

                    <!-- Contact Form -->
                      <section class="footer-one">
                        <form method="post" action="#" class="form-contact">
                          <div>
                            <div class="row half">
                              <div class="12u">
                                <input type="text" class="text" name="name" id="contact-name" placeholder="Name" />
                              </div>
                              <div class="12u">
                                <input type="text" class="text" name="email" id="contact-email" placeholder="Email" required />
                              </div>
                            </div>
                            <div class="row half">
                              <div class="12u">
                                <textarea name="message" id="contact-message" placeholder="Message"></textarea>
                              </div>
                            </div>
                            <div class="row">
                              <div class="12u">
                                <ul class="actions">
                                  <li style='float:right;margin:-30px 0 60px'><input type="submit" class="button button-style1" value="Enviar" /></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </form>
                      </section>
                    <!-- /Contact Form -->

                  </div>
                  <div class="12u">
                  
                    <!-- Contacts -->
                      <section class="footer-two">
                        <div class="feature-list feature-list-small">
                          <div>
                            <div class="row">
                              <div class="6u">
                                <section>
                                  <h3 class="icon icon-home" data-editable="title_address">{{title_address}}</h3>
                                  <p>{{company_address}}</p>
                                </section>
                              </div>
                              <div class="6u">
                                <section>
                                  <h3 class="icon icon-comment" data-editable="title_social">{{title_social}}</h3>
                                  <p data-editable="social">{{social}}</p>
                                </section>
                              </div>
                            </div>
                            <div class="row">
                              <div class="6u">
                                <section>
                                  <h3 class="icon icon-envelope">{{company_email}}</h3>
                                </section>
                              </div>
                              <div class="6u">
                                <section>
                                  <h3 class="icon icon-phone">{{company_phone}}</h3>
                                </section>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    <!-- /Contacts -->
                      
                  </div>
                </div>
              </div>
              <hr />
            </div>
          <!-- /Footer -->

          <!-- Copyright -->
            <div id="copyright">
              <span>
                &copy; {{company_brand}}. Powered by <a href="http://badabum.com.br/"><img src="images/badabum.png" width="90" style="margin-left: 5px"></a>.
              </span>
            </div>
          <!-- /Copyright -->

        </div>
      </div>
    </div>
  </div>
<!-- /Footer Wrapper -->
