{{=<% %>=}}
<!-- Highlights Wrapper -->
	<div class="wrapper wrapper-style3">
		<div class="title">{{menu_gallery}}</div>
		<div class="container">
			<div class="row">
				<div class="12u">
					
					<div id="highlights">
						<div data-gallery>
							<div class="row" id="pictures">
								<ul>
									<li>
										<a href="assets/images/pic02.jpg" class="image image-full">
											<img src="images/pic02.jpg" title="Aliquam diam consequat" data-description='Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.'/></a>
									</li>
									<li>
										<a href="assets/images/pic03.jpg" class="image image-full">
											<img src="images/pic03.jpg" title="Nisl adipiscing sed lorem" data-description='Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.'/>
										</a>
									</li>
									<li>
										<a href="assets/images/pic04.jpg" class="image image-full">
											<img src="images/pic04.jpg" alt="" title="Mattis tempus lorem" data-description='Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.' />
										</a>
									</li>
<li>
										<a href="assets/images/pic02.jpg" class="image image-full">
											<img src="images/pic02.jpg" title="Aliquam diam consequat" data-description='Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.'/></a>
									</li>
									<li>
										<a href="assets/images/pic03.jpg" class="image image-full">
											<img src="images/pic03.jpg" title="Nisl adipiscing sed lorem" data-description='Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.'/>
										</a>
									</li>
									<li>
										<a href="assets/images/pic04.jpg" class="image image-full">
											<img src="images/pic04.jpg" alt="" title="Mattis tempus lorem" data-description='Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.' />
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
<!-- /Highlights Wrapper -->