{{=<% %>=}}
<div id="intro-wrapper" class="wrapper wrapper-style1">
	<div class="title">{{menu_home}}</div>
	<div class="container">
		<div class="row">
			<div class="12u">
				<section id="intro">
					<p class="style1" data-editable='intro'>{{intro}}</p>
					<p class="style2" data-editable='super_intro'>{{super_intro}}</p>
					<p class="style3" data-editable='sub_intro'>{{sub_intro}}</p><br>
					<p class="style3" data-editable='second_sub_intro'>{{second_sub_intro}}</p>
					<!--ul class="actions">
						<li><a href="#" class="button button-style3 button-big">Continuar</a></li>
					</ul-->
				</section>
			</div>
		</div>
	</div>
</div>
