{{=<% %>=}}
<!-- Main Wrapper -->
  <div class="wrapper wrapper-style2">
    <div class="title">{{menu_about}}</div>
    <div class="container">
      <div class="row">
        <div class="12u">
          
          <!-- Main -->
            <div id="main">
              
              <a class="image image-featured">
                <img data-editable-img='image_about_1200x183' src="{{image_about_1200x183}}" alt="Pic" />
              </a>
              
              <!-- Features -->
                <section id="features">
                  <header class="style1">
                    <h2 data-editable='about_h2'>{{about_h2}}</h2>
                    <p class="byline" data-editable='about_subtitle'>{{about_subtitle}}</p>
                  </header>
                  <div class="feature-list">
                    <div>
                      <div class="row">
                        <div class="6u">
                          <section>
                            <h3 data-editable='feature_title_one'>{{feature_title_one}}</h3>
                            <p data-editable='feature_description_one'>{{feature_description_one}}</p>
                          </section>
                        </div>
                        <div class="6u">
                          <section>
                            <h3 data-editable='feature_title_two'>{{feature_title_two}}</h3>
                            <p data-editable='feature_description_two'>{{feature_description_two}}</p>
                          </section>
                        </div>
                      </div>
                      <div class="row">
                        <div class="6u">
                          <section>
                            <h3 data-editable='feature_title_three'>{{feature_title_three}}</h3>
                            <p data-editable='feature_description_three'>{{feature_description_three}}</p>
                          </section>
                        </div>
                        <div class="6u">
                          <section>
                            <h3 data-editable='feature_title_four'>{{feature_title_four}}</h3>
                            <p data-editable='feature_description_four'>{{feature_description_four}}</p>
                          </section>
                        </div>
                      </div>
                      <div class="row">
                        <div class="6u">
                          <section>
                            <h3 data-editable='feature_title_five'>{{feature_title_five}}</h3>
                            <p data-editable='feature_description_five'>{{feature_description_five}}</p>
                          </section>
                        </div>
                        <div class="6u">
                          <section>
                            <h3 data-editable='feature_title_six'>{{feature_title_six}}</h3>
                            <p data-editable='feature_description_six'>{{feature_description_six}}</p>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              <!-- /Features -->

              <ul class="actions actions-centered">
              </ul>
              
            </div>
          <!-- /Main -->
          
        </div>
      </div>
    </div>
  </div>
<!-- /Main Wrapper -->
