{{=<% %>=}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<%> meta/head %>
	</head>
	<body id="{{namespace}}" class="homepage">
		<%> commons/header %>
    <%> pages/home %>
    <%> pages/sobre %>
    <%> pages/galeria %>
    <%> pages/contato %>
		<%> meta/js %>
	</body>
</html>

