{{=<% %>=}}
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/jquery.smint.js"></script>
<script src="/javascript/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/javascript/jquery.fancybox.js"></script>
<script src="/javascript/app.js"></script>
