html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{-webkit-text-size-adjust:none}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}.container{width:100%;margin:0 auto}.\31 2u{width:100%}.\31 1u{width:91.6666666667%}.\31 0u{width:83.3333333333%}.\39 u{width:75%}.\38 u{width:66.6666666667%}.\37 u{width:58.3333333333%}.\36 u{width:50%}.\35 u{width:41.6666666667%}.\34 u{width:33.3333333333%}.\33 u{width:25%}.\32 u{width:16.6666666667%}.\31 u{width:8.3333333333%}.\-11u{margin-left:91.6666666667%}.\-10u{margin-left:83.3333333333%}.\-9u{margin-left:75%}.\-8u{margin-left:66.6666666667%}.\-7u{margin-left:58.3333333333%}.\-6u{margin-left:50%}.\-5u{margin-left:41.6666666667%}.\-4u{margin-left:33.3333333333%}.\-3u{margin-left:25%}.\-2u{margin-left:16.6666666667%}.\-1u{margin-left:8.3333333333%}.row>*{padding:3em 2em 0 2em;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}.row+.row>*{padding-top:40px}.row{margin: 0 auto;}.row:after{content:'';display:block;clear:both;height:0}.row:first-child>*{padding-top:0}.row>*{padding-top:0}.row.flush{margin-left:0}.row.flush>*{padding:0 !important}.row.half>*{padding:20px 0 0 20px}.row.half+.row.half>*{padding-top:20px}.row.half{margin-left:-20px}.row.double>*{padding:80px 0 0 80px}.row.double+.row.double>*{padding-top:80px}.row.double{margin-left:-80px}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}


@charset 'UTF-8';

  @font-face
  {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
         url('fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
         url('fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype'),
         url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face
  {
    font-family: 'Font-Awesome-Social';
    src: url('fonts/fontawesome-social-webfont.eot');
    src: url('fonts/fontawesome-social-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontawesome-social-webfont.woff') format('woff'),
       url('fonts/fontawesome-social-webfont.ttf') format('truetype'),
       url('fonts/fontawesome-social-webfont.svg#Font-Awesome-More') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
  }

  body, input, textarea, select
  {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #919499;
    font-size: 13pt;
    line-height: 1.75em;
    letter-spacing: 0.025em;
  }


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body, input, textarea, select
	{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: #919499;
	}

	h1,h2,h3,h4,h5,h6
	{
		font-weight: 700;
		color: #484d55;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		color: inherit;
		text-decoration: none;
	}

	a
	{
		text-decoration: underline;
		color: #717479;
		-moz-transition: color .25s ease-in-out;
		-webkit-transition: color .25s ease-in-out;
		-o-transition: color .25s ease-in-out;
		-ms-transition: color .25s ease-in-out;
		transition: color .25s ease-in-out;
	}
	
		a:hover
		{
			text-decoration: none;
		}

	strong, b
	{
		font-weight: 700;
		color: #484d55;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	em, i
	{
		font-style: italic;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	table
	{
		width: 100%;
	}
	
		table.style1
		{
			width: 100%;
		}
		
			table.style1 tbody tr:nth-child(2n+2)
			{
				background: #f4f4f4;
			}
			
			table.style1 td
			{
				padding: 0.5em 1em 0.5em 1em;
			}
			
			table.style1 th
			{
				text-align: left;
				font-weight: 400;
				padding: 0.5em 1em 0.5em 1em;
			}
		
			table.style1 thead
			{
				background: #484d55;
				color: #fff;
			}
			
			table.style1 tfoot
			{
				background: #eee;
			}
			
			table.style1 tbody
			{
			}

	form
	{
	}
	
		form label
		{
			display: block;
			color: #484d55;
		}
	
		form input.text,
		form select,
		form textarea
		{
			-webkit-appearance: none;
			display: block;
			border: 0;
			background: #eee;
			box-shadow: inset 0px 0px 1px 0px #a0a1a7;
			border-radius: 0.35em;
			width: 100%;
			padding: 0.75em 1em 0.75em 1em;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
      height: 2.8em;
		}

			form input.text:hover,
			form select:hover,
			form textarea:hover
			{
			}

			form input.text:focus,
			form select:focus,
			form textarea:focus
			{
				background: #f8f8f8;
			}
			
			form textarea
			{
				min-height: 12em;
			}

			form .formerize-placeholder
			{
				color: #555 !important;
				font-style: italic;
			}

			form ::-webkit-input-placeholder
			{
				color: #555 !important;
				font-style: italic;
			}

			form :-moz-placeholder
			{
				color: #555 !important;
				font-style: italic;
			}

			form ::-moz-placeholder
			{
				color: #555 !important;
				font-style: italic;
			}

			form :-ms-input-placeholder
			{
				color: #555 !important;
				font-style: italic;
			}

			form ::-moz-focus-inner
			{
				border: 0;
			}

	.nobr
	{
		white-space: nowrap;
	}

	br.clear
	{
		clear: both;
	}
	
	p, ul, ol, dl, table, blockquote, form
	{
		margin-bottom: 2em;
	}
	
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}
	
	header.style1
	{
		text-align: center;
	}

		header.style1 h2
		{
			font-weight: 700;
		}
		
		header.style1 .byline
		{
			color: #b1b4b9;
		}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			height: 176px !important;
    		width: inherit;
		}
		.image.image-featured img { width: 100% }

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}
		
	.image-featured
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.button
	{
		display: inline-block;
		background: #444;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.25em;
		text-decoration: none;
		border-radius: 0.35em;
		border: 0;
		outline: 0;
		cursor: pointer;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}

		.button-style1
		{
			background: #e97770 url('images/overlay.png');
			color: #fff;
		}

			.button-style1:hover
			{
				background-color: #f98780;
			}
			
			.button-style1:active
			{
				background-color: #d96760;
			}

		.button-style2
		{
			background: none;
			color: #606167;
			box-shadow: inset 0px 0px 2px 0px #a0a1a7;
		}
		
			.button-style2:hover
			{
				box-shadow: inset 0px 0px 2px 0px #606167;
			}
		
			.button-style2:active
			{
				box-shadow: inset 0px 0px 2px 0px #202127;
			}

		.button-style3
		{
			background: #2f333b url('images/overlay.png');
			color: #fff;
		}

			.button-style3:hover
			{
				background-color: #3f434b;
			}
			
			.button-style3:active
			{
				background-color: #1f232b;
			}

	ul.style1
	{
	}
	
	ul.style2
	{
	}
	
		ul.style2 li
		{
			border-top: solid 1px #eee;
			padding: 1.5em 0 0 0;
			margin: 1.5em 0 0 0;
		}
		
		ul.style2 li:first-child
		{
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	
	ul.style3
	{
	}
	
		ul.style3 li
		{
			border-top: solid 1px #eee;
			padding: 0.5em 0 0 0;
			margin: 0.5em 0 0 0;
		}
		
		ul.style3 li:first-child
		{
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	
	ol.style1
	{
	}
		
	.actions
	{
	}

	.feature-list
	{ text-align: center;
	}

		.feature-list h3
		{
			color: #e97770 !important;
		}
		
			.feature-list h3:before
			{
				position: relative;
				display: inline-block;
				color: #fff;
				background: transparent
			}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	/*
		Powered by:
		
		Font Awesome (http://fortawesome.github.com/Font-Awesome/)
		Font Awesome More (http://gregoryloucas.github.com/Font-Awesome-More/)
	*/

	.icon
	{
		text-decoration: none;
	}

		.icon:before
		{
			font-size: 1.25em;
			text-decoration: none;
			font-family: 'FontAwesome', 'FontAwesome2';
			font-weight: normal;
			font-style: normal;
			-webkit-text-rendering: optimizeLegibility;
			-moz-text-rendering: optimizeLegibility;
			-ms-text-rendering: optimizeLegibility;
			-o-text-rendering: optimizeLegibility;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			-o-font-smoothing: antialiased;
			font-smoothing: antialiased;
			-webkit-font-feature-settings: "liga" 1, "dlig" 1;
			-moz-font-feature-settings: "liga=1, dlig=1";
			-ms-font-feature-settings: "liga" 1, "dlig" 1;
			-o-font-feature-settings: "liga" 1, "dlig" 1;
			font-feature-settings: "liga" 1, "dlig" 1;
		}

		.icon-glass:before                { content: "\f000"; }
		.icon-music:before                { content: "\f001"; }
		.icon-search:before               { content: "\f002"; }
		.icon-envelope:before             { content: "\f003"; }
		.icon-heart:before                { content: "\f004"; }
		.icon-star:before                 { content: "\f005"; }
		.icon-star-empty:before           { content: "\f006"; }
		.icon-user:before                 { content: "\f007"; }
		.icon-film:before                 { content: "\f008"; }
		.icon-th-large:before             { content: "\f009"; }
		.icon-th:before                   { content: "\f00a"; }
		.icon-th-list:before              { content: "\f00b"; }
		.icon-ok:before                   { content: "\f00c"; }
		.icon-remove:before               { content: "\f00d"; }
		.icon-zoom-in:before              { content: "\f00e"; }

		.icon-zoom-out:before             { content: "\f010"; }
		.icon-off:before                  { content: "\f011"; }
		.icon-signal:before               { content: "\f012"; }
		.icon-cog:before                  { content: "\f013"; }
		.icon-trash:before                { content: "\f014"; }
		.icon-home:before                 { content: "\f015"; }
		.icon-file:before                 { content: "\f016"; }
		.icon-time:before                 { content: "\f017"; }
		.icon-road:before                 { content: "\f018"; }
		.icon-download-alt:before         { content: "\f019"; }
		.icon-download:before             { content: "\f01a"; }
		.icon-upload:before               { content: "\f01b"; }
		.icon-inbox:before                { content: "\f01c"; }
		.icon-play-circle:before          { content: "\f01d"; }
		.icon-repeat:before               { content: "\f01e"; }

		/* \f020 doesn't work in Safari. all shifted one down */
		.icon-refresh:before              { content: "\f021"; }
		.icon-list-alt:before             { content: "\f022"; }
		.icon-lock:before                 { content: "\f023"; }
		.icon-flag:before                 { content: "\f024"; }
		.icon-headphones:before           { content: "\f025"; }
		.icon-volume-off:before           { content: "\f026"; }
		.icon-volume-down:before          { content: "\f027"; }
		.icon-volume-up:before            { content: "\f028"; }
		.icon-qrcode:before               { content: "\f029"; }
		.icon-barcode:before              { content: "\f02a"; }
		.icon-tag:before                  { content: "\f02b"; }
		.icon-tags:before                 { content: "\f02c"; }
		.icon-book:before                 { content: "\f02d"; }
		.icon-bookmark:before             { content: "\f02e"; }
		.icon-print:before                { content: "\f02f"; }

		.icon-camera:before               { content: "\f030"; }
		.icon-font:before                 { content: "\f031"; }
		.icon-bold:before                 { content: "\f032"; }
		.icon-italic:before               { content: "\f033"; }
		.icon-text-height:before          { content: "\f034"; }
		.icon-text-width:before           { content: "\f035"; }
		.icon-align-left:before           { content: "\f036"; }
		.icon-align-center:before         { content: "\f037"; }
		.icon-align-right:before          { content: "\f038"; }
		.icon-align-justify:before        { content: "\f039"; }
		.icon-list:before                 { content: "\f03a"; }
		.icon-indent-left:before          { content: "\f03b"; }
		.icon-indent-right:before         { content: "\f03c"; }
		.icon-facetime-video:before       { content: "\f03d"; }
		.icon-picture:before              { content: "\f03e"; }

		.icon-pencil:before               { content: "\f040"; }
		.icon-map-marker:before           { content: "\f041"; }
		.icon-adjust:before               { content: "\f042"; }
		.icon-tint:before                 { content: "\f043"; }
		.icon-edit:before                 { content: "\f044"; padding-top: 1px; padding-left: 1px; }
		.icon-share:before                { content: "\f045"; }
		.icon-check:before                { content: "\f046"; }
		.icon-move:before                 { content: "\f047"; }
		.icon-step-backward:before        { content: "\f048"; }
		.icon-fast-backward:before        { content: "\f049"; }
		.icon-backward:before             { content: "\f04a"; }
		.icon-play:before                 { content: "\f04b"; }
		.icon-pause:before                { content: "\f04c"; }
		.icon-stop:before                 { content: "\f04d"; }
		.icon-forward:before              { content: "\f04e"; }

		.icon-fast-forward:before         { content: "\f050"; }
		.icon-step-forward:before         { content: "\f051"; }
		.icon-eject:before                { content: "\f052"; }
		.icon-chevron-left:before         { content: "\f053"; }
		.icon-chevron-right:before        { content: "\f054"; }
		.icon-plus-sign:before            { content: "\f055"; }
		.icon-minus-sign:before           { content: "\f056"; }
		.icon-remove-sign:before          { content: "\f057"; }
		.icon-ok-sign:before              { content: "\f058"; }
		.icon-question-sign:before        { content: "\f059"; }
		.icon-info-sign:before            { content: "\f05a"; }
		.icon-screenshot:before           { content: "\f05b"; }
		.icon-remove-circle:before        { content: "\f05c"; }
		.icon-ok-circle:before            { content: "\f05d"; }
		.icon-ban-circle:before           { content: "\f05e"; }

		.icon-arrow-left:before           { content: "\f060"; }
		.icon-arrow-right:before          { content: "\f061"; }
		.icon-arrow-up:before             { content: "\f062"; }
		.icon-arrow-down:before           { content: "\f063"; }
		.icon-share-alt:before            { content: "\f064"; }
		.icon-resize-full:before          { content: "\f065"; }
		.icon-resize-small:before         { content: "\f066"; }
		.icon-plus:before                 { content: "\f067"; }
		.icon-minus:before                { content: "\f068"; }
		.icon-asterisk:before             { content: "\f069"; }
		.icon-exclamation-sign:before     { content: "\f06a"; }
		.icon-gift:before                 { content: "\f06b"; }
		.icon-leaf:before                 { content: "\f06c"; }
		.icon-fire:before                 { content: "\f06d"; }
		.icon-eye-open:before             { content: "\f06e"; }

		.icon-eye-close:before            { content: "\f070"; }
		.icon-warning-sign:before         { content: "\f071"; }
		.icon-plane:before                { content: "\f072"; }
		.icon-calendar:before             { content: "\f073"; }
		.icon-random:before               { content: "\f074"; }
		.icon-comment:before              { content: "\f075"; }
		.icon-magnet:before               { content: "\f076"; }
		.icon-chevron-up:before           { content: "\f077"; }
		.icon-chevron-down:before         { content: "\f078"; }
		.icon-retweet:before              { content: "\f079"; }
		.icon-shopping-cart:before        { content: "\f07a"; }
		.icon-folder-close:before         { content: "\f07b"; }
		.icon-folder-open:before          { content: "\f07c"; }
		.icon-resize-vertical:before      { content: "\f07d"; }
		.icon-resize-horizontal:before    { content: "\f07e"; }

		.icon-bar-chart:before            { content: "\f080"; }
		.icon-twitter-sign:before         { content: "\f081"; }
		.icon-facebook-sign:before        { content: "\f082"; }
		.icon-camera-retro:before         { content: "\f083"; }
		.icon-key:before                  { content: "\f084"; }
		.icon-cogs:before                 { content: "\f085"; }
		.icon-comments:before             { content: "\f086"; }
		.icon-thumbs-up:before            { content: "\f087"; }
		.icon-thumbs-down:before          { content: "\f088"; }
		.icon-star-half:before            { content: "\f089"; }
		.icon-heart-empty:before          { content: "\f08a"; }
		.icon-signout:before              { content: "\f08b"; }
		.icon-linkedin-sign:before        { content: "\f08c"; }
		.icon-pushpin:before              { content: "\f08d"; }
		.icon-external-link:before        { content: "\f08e"; }

		.icon-signin:before               { content: "\f090"; }
		.icon-trophy:before               { content: "\f091"; }
		.icon-github-sign:before          { content: "\f092"; }
		.icon-upload-alt:before           { content: "\f093"; }
		.icon-lemon:before                { content: "\f094"; }
		.icon-phone:before                { content: "\f095"; }
		.icon-check-empty:before          { content: "\f096"; }
		.icon-bookmark-empty:before       { content: "\f097"; }
		.icon-phone-sign:before           { content: "\f098"; }
		.icon-twitter:before              { content: "\f099"; padding-left: 2px; }
		.icon-facebook:before             { content: "\f09a"; padding-left: 6px; }
		.icon-github:before               { content: "\f09b"; }
		.icon-unlock:before               { content: "\f09c"; }
		.icon-credit-card:before          { content: "\f09d"; }
		.icon-rss:before                  { content: "\f09e"; }

		.icon-hdd:before                  { content: "\f0a0"; }
		.icon-bullhorn:before             { content: "\f0a1"; }
		.icon-bell:before                 { content: "\f0a2"; }
		.icon-certificate:before          { content: "\f0a3"; }
		.icon-hand-right:before           { content: "\f0a4"; }
		.icon-hand-left:before            { content: "\f0a5"; }
		.icon-hand-up:before              { content: "\f0a6"; }
		.icon-hand-down:before            { content: "\f0a7"; }
		.icon-circle-arrow-left:before    { content: "\f0a8"; }
		.icon-circle-arrow-right:before   { content: "\f0a9"; }
		.icon-circle-arrow-up:before      { content: "\f0aa"; }
		.icon-circle-arrow-down:before    { content: "\f0ab"; }
		.icon-globe:before                { content: "\f0ac"; }
		.icon-wrench:before               { content: "\f0ad"; }
		.icon-tasks:before                { content: "\f0ae"; }

		.icon-filter:before               { content: "\f0b0"; }
		.icon-briefcase:before            { content: "\f0b1"; }
		.icon-fullscreen:before           { content: "\f0b2"; }

		.icon-group:before                { content: "\f0c0"; }
		.icon-link:before                 { content: "\f0c1"; }
		.icon-cloud:before                { content: "\f0c2"; }
		.icon-beaker:before               { content: "\f0c3"; }
		.icon-cut:before                  { content: "\f0c4"; }
		.icon-copy:before                 { content: "\f0c5"; }
		.icon-paper-clip:before           { content: "\f0c6"; }
		.icon-save:before                 { content: "\f0c7"; }
		.icon-sign-blank:before           { content: "\f0c8"; }
		.icon-reorder:before              { content: "\f0c9"; }
		.icon-list-ul:before              { content: "\f0ca"; }
		.icon-list-ol:before              { content: "\f0cb"; }
		.icon-strikethrough:before        { content: "\f0cc"; }
		.icon-underline:before            { content: "\f0cd"; }
		.icon-table:before                { content: "\f0ce"; }

		.icon-magic:before                { content: "\f0d0"; }
		.icon-truck:before                { content: "\f0d1"; }
		.icon-pinterest:before            { content: "\f0d2"; }
		.icon-pinterest-sign:before       { content: "\f0d3"; }
		.icon-google-plus-sign:before     { content: "\f0d4"; }
		.icon-google-plus:before          { content: "\f0d5"; }
		.icon-money:before                { content: "\f0d6"; }
		.icon-caret-down:before           { content: "\f0d7"; }
		.icon-caret-up:before             { content: "\f0d8"; }
		.icon-caret-left:before           { content: "\f0d9"; }
		.icon-caret-right:before          { content: "\f0da"; }
		.icon-columns:before              { content: "\f0db"; }
		.icon-sort:before                 { content: "\f0dc"; }
		.icon-sort-down:before            { content: "\f0dd"; }
		.icon-sort-up:before              { content: "\f0de"; }

		.icon-envelope-alt:before         { content: "\f0e0"; }
		.icon-linkedin:before             { content: "\f0e1"; }
		.icon-undo:before                 { content: "\f0e2"; }
		.icon-legal:before                { content: "\f0e3"; }
		.icon-dashboard:before            { content: "\f0e4"; }
		.icon-comment-alt:before          { content: "\f0e5"; }
		.icon-comments-alt:before         { content: "\f0e6"; }
		.icon-bolt:before                 { content: "\f0e7"; }
		.icon-sitemap:before              { content: "\f0e8"; }
		.icon-umbrella:before             { content: "\f0e9"; }
		.icon-paste:before                { content: "\f0ea"; }
		.icon-lightbulb:before            { content: "\f0eb"; }
		.icon-exchange:before             { content: "\f0ec"; }
		.icon-cloud-download:before       { content: "\f0ed"; }
		.icon-cloud-upload:before         { content: "\f0ee"; }

		.icon-user-md:before              { content: "\f0f0"; }
		.icon-stethoscope:before          { content: "\f0f1"; }
		.icon-suitcase:before             { content: "\f0f2"; }
		.icon-bell-alt:before             { content: "\f0f3"; }
		.icon-coffee:before               { content: "\f0f4"; }
		.icon-food:before                 { content: "\f0f5"; }
		.icon-file-alt:before             { content: "\f0f6"; }
		.icon-building:before             { content: "\f0f7"; }
		.icon-hospital:before             { content: "\f0f8"; }
		.icon-ambulance:before            { content: "\f0f9"; }
		.icon-medkit:before               { content: "\f0fa"; }
		.icon-fighter-jet:before          { content: "\f0fb"; }
		.icon-beer:before                 { content: "\f0fc"; }
		.icon-h-sign:before               { content: "\f0fd"; }
		.icon-plus-sign-alt:before        { content: "\f0fe"; }

		.icon-double-angle-left:before    { content: "\f100"; }
		.icon-double-angle-right:before   { content: "\f101"; }
		.icon-double-angle-up:before      { content: "\f102"; }
		.icon-double-angle-down:before    { content: "\f103"; }
		.icon-angle-left:before           { content: "\f104"; }
		.icon-angle-right:before          { content: "\f105"; }
		.icon-angle-up:before             { content: "\f106"; }
		.icon-angle-down:before           { content: "\f107"; }
		.icon-desktop:before              { content: "\f108"; }
		.icon-laptop:before               { content: "\f109"; }
		.icon-tablet:before               { content: "\f10a"; }
		.icon-mobile-phone:before         { content: "\f10b"; }
		.icon-circle-blank:before         { content: "\f10c"; }
		.icon-quote-left:before           { content: "\f10d"; }
		.icon-quote-right:before          { content: "\f10e"; }

		.icon-spinner:before              { content: "\f110"; }
		.icon-circle:before               { content: "\f111"; }
		.icon-reply:before                { content: "\f112"; }
		.icon-github-alt:before           { content: "\f113"; }
		.icon-folder-close-alt:before     { content: "\f114"; }
		.icon-folder-open-alt:before      { content: "\f115"; }

		.icon-blogger-sign:before,.icon-blogger:before,.icon-delicious:before,.icon-dribbble-sign:before,.icon-dribbble:before,.icon-dropbox:before,.icon-drupal:before,.icon-evernote-sign:before,.icon-evernote:before,.icon-flickr-sign:before,.icon-flickr:before,.icon-forrst-sign:before,.icon-forrst:before,.icon-foursquare-sign:before,.icon-foursquare:before,.icon-git-fork:before,.icon-hacker-news:before,.icon-instagram:before,.icon-lastfm-sign:before,.icon-lastfm:before,.icon-paypal:before,.icon-picasa-sign:before,.icon-picasa:before,.icon-reddit:before,.icon-share-this-sign:before,.icon-share-this:before,.icon-skype:before,.icon-soundcloud:before,.icon-spotify:before,.icon-stack-overflow:before,.icon-tumblr-sign:before,.icon-tumblr:before,.icon-vimeo-sign:before,.icon-vimeo:before,.icon-wordpress-sign:before,.icon-wordpress:before,.icon-yelp-sign:before,.icon-yelp:before,.icon-youtube-sign:before,.icon-youtube:before              {font-family:'Font-Awesome-Social', 'Font-Awesome-Social2'; }

		.icon-dropbox:before              { content: "\f300"; }
		.icon-drupal:before               { content: "\f301"; }
		.icon-git-fork:before             { content: "\f302"; }
		.icon-instagram:before            { content: "\f303"; }
		.icon-share-this-sign:before      { content: "\f304"; }
		.icon-share-this:before           { content: "\f305"; }
		.icon-foursquare-sign:before      { content: "\f306"; }
		.icon-foursquare:before           { content: "\f307"; }
		.icon-hacker-news:before          { content: "\f308"; }
		.icon-skype:before                { content: "\f309"; }
		.icon-spotify:before              { content: "\f30a"; }
		.icon-soundcloud:before           { content: "\f30b"; }
		.icon-paypal:before               { content: "\f30c"; }
		.icon-youtube-sign:before         { content: "\f30d"; }
		.icon-youtube:before              { content: "\f30e"; }
		.icon-reddit:before               { content: "\f30f"; }
		.icon-blogger-sign:before         { content: "\f310"; }
		.icon-blogger:before              { content: "\f311"; }
		.icon-dribbble-sign:before        { content: "\f312"; }
		.icon-dribbble:before             { content: "\f313"; }
		.icon-evernote-sign:before        { content: "\f314"; }
		.icon-evernote:before             { content: "\f315"; }
		.icon-flickr-sign:before          { content: "\f316"; }
		.icon-flickr:before               { content: "\f317"; }
		.icon-forrst-sign:before          { content: "\f318"; }
		.icon-forrst:before               { content: "\f319"; }
		.icon-delicious:before            { content: "\f31a"; }
		.icon-lastfm-sign:before          { content: "\f31b"; }
		.icon-lastfm:before               { content: "\f31c"; }
		.icon-picasa-sign:before          { content: "\f31d"; }
		.icon-picasa:before               { content: "\f31e"; }
		.icon-stack-overflow:before       { content: "\f320"; }
		.icon-tumblr-sign:before          { content: "\f321"; }
		.icon-tumblr:before               { content: "\f322"; }
		.icon-vimeo-sign:before           { content: "\f323"; }
		.icon-vimeo:before                { content: "\f324"; }
		.icon-wordpress-sign:before       { content: "\f325"; }
		.icon-wordpress:before            { content: "\f326"; }
		.icon-yelp-sign:before            { content: "\f327"; }
		.icon-yelp:before                 { content: "\f328"; }

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		position: relative;
	}

		.wrapper .title
		{
			position: absolute;
			top: 0;
			left: 50%;
			text-align: center;
			text-transform: uppercase;
			display: block;
			font-weight: 700;
			letter-spacing: 0.25em;
		}
		
		.wrapper .title:before
		{
			content: '';
			position: absolute;
			bottom: -38px;
			left: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
		}
		
		.wrapper .title:after
		{
			content: '';
			position: absolute;
			bottom: -38px;
			right: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
			-moz-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
    	}

	#header-wrapper
	{
		background: url('../images/banner.jpg') center center;
		background-size: cover;
	}
	
		#header-wrapper:before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('images/overlay.png');
		}
	
	#footer-wrapper
	{
		background: #282b34 url('images/overlay.png');
		color: #eee;
		color: rgba(255,255,255,0.5);
	}

		#footer-wrapper h1,
		#footer-wrapper h2,
		#footer-wrapper h3,
		#footer-wrapper h4,
		#footer-wrapper h5,
		#footer-wrapper h6,
		#footer-wrapper strong,
		#footer-wrapper b,
		#footer-wrapper a
		{
			color: #fff;
		}

		#footer-wrapper hr
		{
			border-top-color: #333;
			border-top-color: rgba(255,255,255,0.05);
		}

		#footer-wrapper form
		{
		}

			#footer-wrapper form input.text,
			#footer-wrapper form select,
			#footer-wrapper form textarea
			{
				background: #ccc;
				box-shadow: none;
			}

			#footer-wrapper form input.text:focus,
			#footer-wrapper form select:focus,
			#footer-wrapper form textarea:focus
			{
				background: #fff;
			}

		#footer-wrapper .button-style2
		{
			color: #aaa;
			box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,0.5);
		}

			#footer-wrapper .button-style2:hover
			{
				color: #ccc;
				box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,0.65);
			}

			#footer-wrapper .button-style2:active
			{
				box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,0.75);
			}

		#footer-wrapper .title
		{
			background: #282b34 url('images/overlay.png');
			color: #eee;
		}
		
		#footer-wrapper header.style1
		{
		}
		
			#footer-wrapper header.style1 h2
			{
				color: #fff;
			}
	
			#footer-wrapper header.style1 .byline
			{
				color: inherit;
			}

		#footer-wrapper .feature-list
		{
		}
		
			#footer-wrapper .feature-list .row
			{
				border-top-color: #333;
				border-top-color: rgba(255,255,255,0.05);
			}

			#footer-wrapper .feature-list h3
			{
			}
			
				#footer-wrapper .feature-list h3:before
				{
					background: transparent 
				}
	
	.wrapper-style1
	{
		background: #e97770 url('images/overlay.png');
		color: #eee;
		color: rgba(255,255,255,0.75);
	}
	
		.wrapper-style1 .title
		{
			background: #e97770 url('images/overlay.png');
			color: #fff;
		}
	
		.wrapper-style1 h1,
		.wrapper-style1 h2,
		.wrapper-style1 h3,
		.wrapper-style1 h4,
		.wrapper-style1 h5,
		.wrapper-style1 h6,
		.wrapper-style1 strong,
		.wrapper-style1 b,
		.wrapper-style1 a
		{
			color: #fff;
		}
	
	.wrapper-style2
	{
		background: #fff;
	}
	
		.wrapper-style2 .title
		{
			background: #fff;
			color: #484d55;
		}
	
	.wrapper-style3
	{
		background: #f3f3f3 url('images/overlay.png');
	}
	
		.wrapper-style3 .title
		{
			background: #f3f3f3 url('images/overlay.png');
			color: #484d55;
		}
		
		.wrapper-style3 .image,
		#pictures ul li a
		{
			border: solid 10px #fff;
		}
		
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}
	
		#logo h1
		{
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
		}
		#logo h1 img.company-logo { max-width: 180px; }
		
		#logo .byline
		{
			color: #eee;
			color: rgba(255,255,255,0.5);
			text-transform: uppercase;
		}

/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
	}
	
		#intro .style1
		{
		}	
		
		#intro .style2
		{
			font-weight: 700;
			color: #fff;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
		}
		
			#intro .style2 a
			{
				color: inherit;
				text-decoration: none;
			}
		
		#intro .style3
		{
		}
		
/*********************************************************************************/
/* Highlights                                                                    */
/*********************************************************************************/

	#highlights
	{
	}

		#highlights .highlight, #highlight ul li
		{
			text-align: center;
		}
		
			#highlights .highlight h3, #highlight ul li h3
			{
				color: #e97770;
			}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
			
	#copyright
	{
		text-align: center;
	}
	
		#copyright span
		{
			display: inline-block;
			color: #aaa;
			color: rgba(255,255,255,0.25);
		}
		
			#copyright span a
			{
				color: inherit;
			}
			
				#copyright span a:hover
				{
					color: #fff;
				}



/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body, input, select, textarea
	{
		font-size: 13pt;
		line-height: 1.75em;
		letter-spacing: 0.025em;
	}

	body
	{
		min-width: 1200px;
	}

	hr
	{
		margin: 2em 0 2em 0;
	}

	section,
	article
	{
		margin: 0 0 4em 0;
	}

	header.style1
	{
		padding: 3em 0 3em 0;
	}

		header.style1 h2
		{
			font-size: 2em;
			letter-spacing: 0.075em;
			line-height: 1.5em;
		}
		
		header.style1 .byline
		{
			display: block;
			margin: 1.15em 0 0 0;
			font-size: 1.3em;
			letter-spacing: 0.075em;
			line-height: 1.5em;
		}

	form
	{
	}
	
		form label
		{
			margin: 0.25em 0 0.25em 0;
		}

	.button
	{
		padding: 0 2.25em 0 2.25em;
		font-size: 0.9em;
		min-width: 12em;
		height: 4em;
		line-height: 4em;
	}
	
		.button-big
		{
			font-size: 1em;
			min-width: 14em;
		}

	.actions
	{
		margin: 3em 0 0 0;
	}
	
		form .actions
		{
			margin-top: 1em;
		}
	
		.actions li
		{
			display: inline-block;
			margin: 0 0.75em 0 0.75em;
		}
		
		.actions li:first-child
		{
			margin-left: 0;
		}
		
		.actions li:last-child
		{
			margin-right: 0;
		}
		
		.actions-centered
		{
			text-align: center;
		}
		
	.feature-list
	{
		padding-bottom: 100px
	}

		.feature-list section
		{
			padding: 2em 0 2em 0;
			margin: 0 2em;
		}

		.feature-list .row
		{
			border-top: solid 1px #eee;
		}
	
			.feature-list .row:first-child
			{
				border-top: 0;
			}
			
				.feature-list .row:first-child section
				{
					padding-top: 0;
				}
			
			.feature-list .row:last-child
			{
			}

				.feature-list .row:last-child section
				{
					padding-bottom: 0;
				}

		.feature-list h3
		{
			margin: 0 0 0.75em 0;
			font-size: 1.15em;
			letter-spacing: 0.05em;
			margin-top: -0.35em;
		}

			.feature-list h3:before
			{
				width: 64px;
				font-size: 32px;
			}
	
		.feature-list p
		{
			margin: 0;
		}
		
		.feature-list-small
		{
		}
		
			.feature-list-small h3
			{
			}
		
				.feature-list-small h3:before
				{
					font-size: 24px;
					line-height: 45px;
					width: 45px;
					height: 45px;
					margin-right: 1em;
				}
				
			.feature-list-small p
			{
				margin: 0 0 0 4em;
			}

	.is
	{
	}
	
		.is header
		{
			margin: 0 0 1.5em 0;
		}

			.is header.style1
			{
				position: relative;
				margin: -0.5em 0 0 0;
				padding-top: 0;
			}

		.is h2
		{
			margin: 0 0 0.75em 0;
			font-size: 1.15em;
			letter-spacing: 0.05em;
		}

		.is h3
		{
			margin: 0 0 0.5em 0;
			font-size: 1em;
			font-weight: 600;
			letter-spacing: 0.05em;
		}

	.is-pair-one
	{
		padding-right: 1.5em;
	}

	.is-pair-two
	{
		padding-left: 1.5em;
	}
	
	.is-triple-one
	{
		padding-right: 1.5em;
	}
	
	.is-triple-two
	{
		padding-left: 0.75em;
		padding-right: 0.75em;
	}
	
	.is-triple-three
	{
		padding-left: 1.5em;
	}

	.is-post-excerpt
	{
	}
	
		.is-post-excerpt .image-left
		{
			position: relative;
			top: 0.5em;
			width: 5em;
		}
		
		.is-post-excerpt h3,
		.is-post-excerpt p
		{
			margin-left: 7em;
		}
		
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		padding: 6em 0 0 0;
	}

		.wrapper .title
		{
			font-size: 0.9em;
			width: 25em;
			height: 3.25em;
			top: -3.25em;
			line-height: 3.25em;
			margin-bottom: -3.25em;
			margin-left: -12.5em;
			padding-top: 0.5em;
		}

	#header-wrapper
	{
		padding: 0;
		height: 400px;
	}

		 #header-wrapper
		{
			height: 573px;
		}

	#intro-wrapper
	{
		padding-bottom: 8em;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		height: 400px;
	}

		 #header
		{
			height: 573px;
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		height: 5em;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		margin-top: -0.5em;
	}

		 #logo
		{
			margin-top: -1em;
		}

		#logo h1
		{
			font-size: 2em;
			letter-spacing: 0.25em;
		}
		
		#logo .byline
		{
			margin: 1.25em 0 0 0;
			display: block;
			letter-spacing: 0.2em;
			font-size: 0.9em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		display: block;
		top: 2.5em;
		left: 0;
		width: 100%;
		text-align: center;
	}

		#nav > ul > li > ul
		{
			display: none;
		}

		#nav > ul
		{
			display: inline-block;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
			padding: 0 1.5em 0 1.5em;
			position: relative;
			z-index: 99;
			background: url("images/overlay.png") repeat scroll 0 0 #282B34;
			height: 3.6em;
		}

		#nav > ul > li
		{
			display: inline-block;
			text-align: center;
			padding: 0 1.5em 0 1.5em;
		}
		
			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				color: #eee;
				color: rgba(255,255,255,0.75);
				text-transform: uppercase;
				text-decoration: none;
				font-size: 0.7em;
				letter-spacing: 0.25em;
				height: 5em;
				line-height: 5em;
				-moz-transition: all .25s ease-in-out;
				-webkit-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
				outline: 0;
			}
			
			#nav > ul > li:hover > a,
			#nav > ul > li.active > a,
			#nav > ul > li.active > span
			{
				color: #fff;
			}

	.dropotron
	{
		background: #222835 url('images/overlay.png');
		background-color: rgba(44,50,63,0.925);
		padding: 1.25em 1em 1.25em 1em;
		border-radius: 0.35em;
		box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
		min-width: 12em;
		text-align: left;
	}
	
		.dropotron-level-0
		{
			margin-top: -1px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	
		.dropotron a,
		.dropotron span
		{
			display: block;
			color: #eee;
			color: rgba(255,255,255,0.75);
			text-transform: uppercase;
			text-decoration: none;
			font-size: 0.7em;
			letter-spacing: 0.25em;
			border-top: solid 1px rgba(255,255,255,0.15);
			line-height: 3em;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		
		.dropotron li:first-child a,
		.dropotron li:first-child span
		{
			border-top: 0;
		}
		
		.dropotron li:hover > a,
		.dropotron li:hover > span
		{
			color: #fff;
		}

/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
		text-align: center;
	}

		#intro .style1
		{
			font-size: 1.5em;
			letter-spacing: 0.075em;
		}	
		
		#intro .style2
		{
			font-size: 2.75em;
			letter-spacing: 0.075em;
			line-height: 1.35em;
			padding: 1em 0 1em 0;
			margin-bottom: 1em;
		}
		
		#intro .style3
		{
			font-size: 1.1em;
			margin: 0 auto;
		}

/*********************************************************************************/
/* Features                                                                      */
/*********************************************************************************/

	#features
	{
		padding: 0;
	}

		#features header.style1
		{
			padding-bottom: 5em;
		}
		
		#features .actions
		{
			margin-top: 5em;
		}

/*********************************************************************************/
/* Highlights                                                                    */
/*********************************************************************************/

	#highlights
	{ text-align: center; margin-bottom: 2em;
	}

	#highlights ul:after {
	    clear: both;
	    content: "";
	    display: block;
	    height: 0;
	}

		#highlights ul li { width: 33.3333%; float: left; }

			#highlights .highlight h3,
			#highlights ul li h3
			{
				margin: 0 0 0.75em 0;
				font-size: 1.15em;
				letter-spacing: 0.05em;
			}

		#highlights .highlight-one,
		#highlights ul li:first-child
		{
		}
		
		#highlights .highlight-two,
		#highlights ul li
		{
			padding: 0 1em 0 1em;
		}
		
		#highlights .highlight-three
		#highlights ul li:last-child
		{
			padding-left: 2em;
		}
		
#pictures ul li.sortable { height: 176px; }
#pictures ul li img { height: 100% }

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin: 1em 0 1em 0;
	}

		 #main
		{
			margin: 0;
		}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

		.left-sidebar #sidebar
		{
			padding-right: 3em;
		}

		.right-sidebar #sidebar
		{
			padding-left: 3em;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

		#footer header.style1
		{
			padding-bottom: 0;
		}

		#footer hr
		{
			margin: 6em 0 6em 0;
		}

		#footer .footer-one
		{
		}
		
		#footer .footer-two
		{
		}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 6em 0 0 0;
	}
	
		#copyright span
		{
			padding: 1.5em 4em 1.5em 4em;
			line-height: 1em;
			font-size: 0.8em;
		}
