@import "all.less";

@header: #2CC882;
@hover: #2CC882;

.wrapper-style1 {
    background: url("images/overlay.png") repeat scroll 0 0 @header;
    color: rgba(255, 255, 255, 0.75);
}

.feature-list h3 {
    color: @header !important;
}

.button-style1 {
    background: url("images/overlay.png") repeat scroll 0 0 @header;
    color: #FFFFFF;
}

.button-style1:hover {
    background-color: @hover;
}

.wrapper-style1 .title
	{
		background: @header url('images/overlay.png');
	}